# Experiment-specific files to be ignored
strain_plasmids_12.txt
strain_plasmids_10.txt
strain_plasmids_5.txt
strain_plasmids_6.txt
strain_plasmids_4.txt
strain_plasmids_2.txt
strain_plasmids_24.txt
